server:
  servlet:
    context-path: /

spring:
  application:
    name: GestorTEDI

  datasource:
    url: jdbc:mysql://localhost:3306/gestortedi?createDatabaseIfNotExist=true&serverTimezone=UTC
    username: root
    password: 2002
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect