server:
  servlet:
    context-path: /
spring:
  application:
    name: GestorTEDI
  datasource:
    url: jdbc:h2:mem:test
    driverClassname: org.h2.Driver
    username: sa
  h2:
    console:
      enabled: true
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
logging:
  level:
    org.hibernate.type.descriptor.sql: TRACE
    org.springframework.orm.jpa: DEBUG